$grey: #F8F8F8;
$light: #EAEAEA;
$inputgrey: #B5B6BC;
$pink: #FF3E79;
$graphite: #7E7E82;
$blue: #41F6D7;
$lightblue: #D9FFF5;
$black: #1B1C21;
$white: #fff;
$shadow: rgba(34, 60, 80, 0.2);
$overlay: rgb(255, 253, 253);
$swiperlight: #DDDDDD;
$swiperdark: #B5B6BC;
