@font-face {
  font-family: "TT Lakes";
  src: url('../fonts/TTLakes-Medium.woff') format("woff"),
  urlurl('../fonts/TTLakes-Medium.woff2') format("woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src:url('../fonts/TTLakes-Bold.woff') format("woff"),
  url('../fonts/TTLakes-Bold.woff2')  format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src:url('../fonts/TTLakes-Regular.woff')  format("woff"),
  url('../fonts/TTLakes-Regular.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

